.news-item {
  display: block;
  position: relative;
  margin-bottom: 40px;
  &__photo {
    display: block;
    position: relative;
    margin-bottom: 24px;
    img {
      max-width: 100%;
    }
  }
  &__date {
    color: #bcbcc7;
    font-family: @base-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
  }
  &__title {
    height: 80px;
    a {
      color: #12212e;
      font-family: @base-font;
      font-size: 19px;
      font-weight: 700;
      line-height: 30px;
      &:hover {
        color: #37a141;
        text-decoration: underline;
      }
    }
  }
}