.btn {
  display: block;
  position: relative;
  &_display_inline-block {
    display: inline-block;
  }
  &__button {
    display: block;
    min-width: 160px;
    height: 32px;
    color: #fff;
    font-family: @base-font;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transition: all @text-decrease-time linear;
    text-decoration: none;
    background-color: #37a141;
    border-radius: 5px;
    border: 0;
    &_transparent {
      border: 2px solid #37a141;
      background-color: #fff;
      line-height: 28px;
      color: #37a141;
      &:hover {
        background-color: #37a141;
        color: #fff;
      }
      &:active {
        background-color: #27782e;
        border-color: #27782e;
        color: #fff;
      }
    }
  }
  &__link {
    color: #48c854;
    font-family: @base-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 2px dotted #48c854;
    cursor: pointer;
  }
  &__ui-button {
    min-width: 86px;
    height: 36px;
    border: 1px solid #37a141;
    background-color: #ffffff;
    text-align: center;
    color: #37a141;
    font-family: @base-font;
    font-size: 17px;
    font-weight: 400;
    line-height: 34px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      background-color: #37a141;
      color: #fff;
    }
  }
  &__download {
    color: #37a141;
    font-family: @base-font;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    &_xls::before {
      content: url(/img/icon_xls.png);
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }
  }
}