.burger-btn {
  display: block;
  position: relative;
  float: right;
  width: 39px;
  height: 35px;
  cursor: pointer;
  z-index: 200;
  margin-top: 10px;
  span {
    display: block;
    width: 100%;
    height: 8px;
    margin-bottom: 5px;
    transition: all 0.2s linear;
    background: #2b2b63;
    &:nth-child(2) {
      width: 75%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_active {
    span {
      background: #37a141;
    }
  }
}