.checkbox {
  display: block;
  position: relative;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  &__input {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    transition: all 0.2s linear;
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all 0.2s linear;
      transform: scale(0);
      border-color: #37a141;
      background: #37a141 url(/img/checkbox.png) no-repeat center center;
    }
    &_checked {
      &::after {
        transform: scale(1);
        background-color: #37a141;
      }
    }
  }
  &__label {
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
    max-width: 80%;
    width: auto;
    height: auto;
    color: #12212e;
    font-family: @base-font;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    a {
      color: #37a141;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}