.for-input {
  display: block;
  position: relative;
  text-align: center;
  &__input,
  &__textarea {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    height: 50px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 17px;
    color: #9d9da8;
    font-family: @base-font;
    font-size: 18px;
    font-weight: 400;
    &::-webkit-input-placeholder {
      color: #9d9da8;
      font-family: @base-font;
      font-size: 18px;
      font-weight: 400;
    }
    &:-moz-placeholder {
      color: #9d9da8;
      font-family: @base-font;
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__textarea {
    height: 153px;
    resize: none;
    padding: 17px;
  }
}