<section class="container-fluid production">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <h1 class="text-block__h1">
                        Трубы и фитинги для внутренней канализации
                    </h1>
                </div>
                <div class="production__description">
                    <div class="text-block">
                        <div class="text-block__simple-text">
                            <ul>
                                <li><strong>Температурный режим</strong> — +95°С</li>
                                <li><strong>Сырье</strong> — Полипропилен (Polypropylene Random Co-polymer) 100 тип 3</li>
                                <li><strong>Область применения</strong> — Системы трубопроводов из полипропилена пригодны для всех известных видов прокладки: открытая прокладка, прокладка под штукатуркой, в шахтах и каналах, бесканальная прокладка в грунте и другие виды.</li>
                            </ul>
                            <div class="btn">
                                <a href="#" class="btn__download btn__download_xls">Скачать прайс-лист</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row production__items">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="production__item">
                    <div class="production__photo">
                        <img src="/img/production/1.jpg" alt="">
                    </div>
                    <div class="production__name">
                        Труба PP-R PN 10 Pro Aqua
                    </div>
                    <div class="production__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Размер</th>
                                <th>Количество в упаковке</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="production__item">
                    <div class="production__photo">
                        <img src="/img/production/1.jpg" alt="">
                    </div>
                    <div class="production__name">
                        Труба PP-R PN 10 Pro Aqua
                    </div>
                    <div class="production__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Размер</th>
                                <th>Количество в упаковке</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            <tr>
                                <td>20&times;2.3</td>
                                <td>100/4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>