<section class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <h1 class="text-block__h1">
                        Документация
                    </h1>
                </div>
            </div>
        </div>
        <div class="row documentation-list">
            <div class="col-xs-12">
                //=for(var i = 0; i < items.length; i++) {
                    //=include('./_documentation_item.html', {
                        "title": "` + items[i].title + `",
                        "type": "` + items[i].type + `",
                        "size": "` + items[i].size + `"
                    })
                }
            </div>
        </div>
    </div>
</section>