<div class="documentation-list__item">
    <div class="documentation-list__title">//=title</div>
    <div class="documentation-list__icon-col">
        <div class="documentation-list__icon documentation-list__icon_type_//=type"></div>
    </div>
    <div class="documentation-list__size">//=size</div>
    <div class="documentation-list__btn-col">
        <div class="btn">
            <div class="btn__ui-button">Скачать</div>
        </div>
    </div>
</div>