<footer class="container-fluid footer">
    <div class="container">
        <div class="row footer__first-row">
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="logo logo_footer"><img src="/img/logo_footer.png" alt=""></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="footer__info">
                    2014 &copy; МультиМирПласт <br>
                    Производство труб и фитингов
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-6 col-lg-7">
                //=include('./_menu.html', {
                    "type": "footer"
                })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="email footer__email"><a href="mailto:mul-mol@inbox.ru">mul-mol@inbox.ru</a></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="phone footer__phone"><span>(812)967-0-968</span></div>
                <div class="footer__order-call-btn btn btn_display_inline-block hidden-xs hidden-sm"><span class="btn__link js_oder-call" data-modal-target="call">Заказать звонок</span></div>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-1">
                <div class="author">
                    Дизайн сайта <a target="_blank" href="https://angdiz.ru/">angdiz.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>