<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-3">
                <div class="logo"><a href="/"><img src="/img/logo.png" alt=""></a></div>
            </div>
            <div class="hidden-xs hidden-sm col-md-9">
                //=include('./_menu.html', {
                    "type": "header"
                })
            </div>
            <div class="col-xs-2 col-sm-4 hidden-md hidden-lg">
                <div class="mobile-menu-wrapper"></div>
                <div class="burger-btn js_mobile-menu-open">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="mobile-menu">
                //=include('./_menu.html', {
                "type": "mobile-menu"
                })
            </div>
        </div>
    </div>
</header>