<nav class="menu //=type__menu">
    //=if (type === 'header' || type === 'mobile-menu') {
        <a class="menu__item menu__item_active" href="#">Главная</a>
    }
    <a class="menu__item" href="#">О компании</a>
    <a class="menu__item" href="#">Продукция</a>
    <a class="menu__item" href="#">Документация</a>
    <a class="menu__item" href="#">Прайс-листы</a>
    <a class="menu__item" href="#">Новости</a>
    <a class="menu__item" href="#">Контакты</a>
</nav>