<section class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__content" data-modal="call">
        <div class="modal__inner">
            <div class="text-block text-block_text-align_center">
                <div class="text-block__h1 modal__h1">
                    Заказать звонок
                </div>
            </div>
            <div class="form-block">
                <div class="form-block__row for-input">
                    <input type="text" id="call_name" class="for-input__input" placeholder="Имя">
                </div>
                <div class="form-block__row for-input">
                    <input type="text" id="call_phone" class="for-input__input" placeholder="Телефон">
                </div>
                <div class="form-block__row form-block__row_margin-bottom_0 form-block__row_margin-top_25">
                    <div class="checkbox">
                        <div class="checkbox__input js_checkbox"></div>
                        <div class="checkbox__label">
                            Я ознакомлен и принимаю условия <a target="_blank" href="#">Соглашения об использовании сайта</a>, в том числе в части обработки и использования моих персональных данных
                            <div class="btn modal__btn">
                                <button type="submit" class="btn__button">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__content" data-modal="question">
        <div class="modal__inner">
            <div class="text-block text-block_text-align_center">
                <div class="text-block__h1 modal__h1">
                    Задать вопрос
                </div>
            </div>
            //=include('./_question-form.html')
        </div>
    </div>
</section>