<section class="container-fluid need-consultation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3">
                <div class="text-block">
                    <div class="text-block__h1 need-consultation__h1">
                        Нужна консультация <br>специалиста?
                        <div class="btn need-consultation__btn">
                            <span class="btn__link js_order-call" data-modal-target="call">Закажите звонок</span>
                        </div>
                    </div>
                    <div class="text-block__h1 text-block__h1_color_white text-block__h1_uppercase text-block__h1_font-weight_normal">
                        или
                    </div>
                    <span class="btn">
                        <span class="btn__link js_oder-call" data-modal-target="question">Напишите письмо</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>