<section class="container-fluid objects-section//=class_name">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <div class="text-block__h1 objects-section__h1">
                        Наши объекты
                        <div class="slider-controls js_objects-slider-controls"></div>
                    </div>
                </div>
                <div class="objects js_objects-slider">
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/1.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/2.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/3.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/4.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/1.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/2.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/3.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/4.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>