<section class="container-fluid pre-header">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-6 col-md-4">
                <div class="slogan">
                    <span>Безупречная геометрия&nbsp;качества!</span>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                <div class="email pre-header__email"><a href="mailto:mul-mol@inbox.ru">mul-mol@inbox.ru</a></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="phone pre-header__phone"><span>(812)967-0-968</span></div>
            </div>
            <div class="hidden-xs col-sm-6 hidden-md hidden-lg">
                <div class="pre-header__email"><a href="mailto:mul-mol@inbox.ru">mul-mol@inbox.ru</a></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 pre-header__callback">
                <div class="btn"><a href="#" class="btn__button btn__button_transparent js_oder-call" data-modal-target="call">Заказать звонок</a></div>
            </div>
        </div>
    </div>
</section>