<form data-form="question" class="form-block">
    <div class="form-block__row for-input">
        <input type="text" class="for-input__input" placeholder="Имя">
    </div>
    <div class="form-block__row for-input">
        <input type="text" class="for-input__input" placeholder="Телефон">
    </div>
    <div class="form-block__row for-input">
        <input type="text" class="for-input__input" placeholder="E-mail">
    </div>
    <div class="form-block__row for-input">
        <textarea name="text" class="for-input__textarea" placeholder="Сообщеие"></textarea>
    </div>
    <div class="form-block__row form-block__row_margin-bottom_0 form-block__row_margin-top_25">
        <div class="checkbox">
            <div class="checkbox__input js_checkbox"></div>
            <div class="checkbox__label">
                Я ознакомлен и принимаю условия <a target="_blank" href="#">Соглашения об использовании сайта</a>, в том числе в части обработки и использования моих персональных данных
                <div class="btn modal__btn">
                    <button type="submit" class="btn__button">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</form>