<section class="container-fluid slider-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="slider js_main-slider">
                    <div class="slider__item"><img src="/img/slider/1.jpg" alt=""></div>
                    <div class="slider__item"><img src="/img/slider/1.jpg" alt=""></div>
                    <div class="slider__item"><img src="/img/slider/1.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>