<section class="upgrade-ie">
    <div class="text-block">
        <div class="text-block__h1">Ваш браузер не поддерживается. Пожалуйста, установите любой из современных браузеров и возвращайтесь!</div>
    </div>
</section>