.objects-section {
  background-color: #f4f4f5;
  padding-top: 50px;
  padding-bottom: 50px;
  &_background_white {
    background: #fff;
  }
  &__h1 {
    display: inline-block;
    vertical-align: middle;
  }
}