.objects {
  margin-left: -15px;
  margin-right: -15px;
  &__item {
    margin: 0 15px 10px 15px;
    a {
      display: block;
      position: relative;
    }
    img {
      max-width: 100%;
    }
  }
}
