.production {
  background-color: #f4f4f5;
  padding-top: 30px;
  &__description {
    padding: 20px;
    background-color: #ffffff;
  }
  &__items {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  &__item {
    margin-bottom: 50px;
  }
  &__photo {
    margin-bottom: 25px;
    img {
      max-width: 100%;
    }
  }
  &__name {
    color: #12212e;
    font-family: @base-font;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__table table {
    border: 1px solid #d4d4d7;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    th, td {
      border: 1px solid #d4d4d7;
      color: #12212e;
      font-family: @base-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 19px;
      padding: 5px 10px;
      width: 60%;
      &:first-child {
        width: 40%;
      }
    }
    th {
      text-align: center;
      padding: 18px 10px;
      text-transform: uppercase;
    }
  }
}