.documentation-list {
  display: block;
  position: relative;
  &__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    min-height: 50px;
    border: 3px solid #f4f4f5;
    background-color: #ffffff;
    transition: all 0.2s linear;
    padding: 0 14px;
    margin-bottom: 16px;
    &:hover {
      background-color: #f4f4f5;
    }
    @media screen and (max-width: @screen-sm) {
      flex-wrap: wrap;
      padding: 14px;
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      flex-wrap: wrap;
      padding: 14px;
    }
  }
  &__title {
    color: #12212e;
    font-family: @base-font;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-right: 15px;
    flex-basis: 60%;
    @media screen and (max-width: @screen-sm) {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  }
  &__icon {
    display: block;
    position: relative;
    width: 20px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: left top;
    &_type {
      &_pdf {
        background-image: url(/img/icon_pdf.png);
      }
      &_jpg {
        background-image: url(/img/icon_jpg.png);
      }
      &_xls {
        background-image: url(/img/icon_xls.png);
      }
    }
  }
  &__size {
    color: #bcbcc7;
    font-family: @base-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 15px;
  }
}