.contacts-type {
  display: block;
  position: relative;
  margin-bottom: 80px;
  &__title {
    color: #12212e;
    font-family: @base-font;
    font-size: 19px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 43px;
    margin-bottom: 23px;
    &_type {
      &_phones {
        background-image: url(/img/phone-ico-green.png);
      }
      &_mail {
        background-image: url(/img/email-ico-green.png);
      }
      &_address {
        background-image: url(/img/address-ico-green.png);
      }
      &_requisites {
        background-image: url(/img/requisites-ico-green.png);
      }
    }
  }
  &__content {
    color: #12212e;
    font-family: @base-font;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    a {
      color: #12212e;
      font-family: @base-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}