.contacts {
  display: block;
  position: relative;
  &__types {
    display: block;
    position: relative;
  }
  &__form {
    .for-input {
      text-align: left;
    }
    .checkbox {
      margin-left: 0;
    }
    margin-bottom: 80px;
  }
}