<section class="container-fluid content content_padding-top_0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <h1 class="text-block__h1">Новости</h1>
                </div>
            </div>
        </div>
        <div class="row news-list">
            //=for(var i = 0; i < items.length; i++) {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    //=include('./_item.html', {
                        "title": "` + items[i].title + `",
                        "photo": "` + items[i].photo + `",
                        "date": "` + items[i].date + `"
                    })
                </div>
            }
        </div>
    </div>
</section>