<div class="news-item">
    <div class="news-item__photo">
        <a href="#"><img src="//=photo" alt=""></a>
    </div>
    <div class="news-item__date">//=date</div>
    <div class="news-item__title"><a href="#">//=title</a></div>
</div>