<section class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <div class="text-block__simple-text">
                        <h1>О компании</h1>
                        <p>Производственный корпус был построен и&nbsp;введен в&nbsp;эксплуатацию в&nbsp;2009&nbsp;г.</p>
                        <p><strong>К&nbsp;настоящему времени мы&nbsp;освоили выпуск:</strong></p>
                        <ul>
                            <li>труб и&nbsp;фитингов для внутренней канализации из&nbsp;полипропилена диаметрами 32,40,50,110;</li>
                            <li>труб для наружной канализации из&nbsp;полипропилена диаметрами 110 и160;</li>
                            <li>фитингов из&nbsp;рандом сополимера полипропилена диаметрами 20, 25, 32 в&nbsp;том числе закладными резьбовыми вставками;</li>
                            <li>труб из&nbsp;рандом сополимера полипропилена, в&nbsp;том числе армированных стекловолокном диаметрами от&nbsp;16 до&nbsp;63;</li>
                            <li>труб из&nbsp;ПНД для холодного питьевого водоснабжения диаметрами 20, 25,32,40.</li>
                        </ul>
                        <p>Постоянно трудимся над улучшением качества нашей продукции, модернизацией средств и&nbsp;технологий производства. Сотрудничаем с&nbsp;рядом переработчиков в&nbsp;нашей сфере деятельности. Имеем обширную сеть региональных диллеров.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>