.category {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 55px;
  min-height: 415px;
  &::after {
    content: '';
    display: none;
    position: absolute;
    width: 73px;
    height: 46px;
    background: url(/img/category_active.png);
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%)
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background: #f4f4f5;
    transition: all 0.2s linear;
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      width: 20%;
      padding: 10px;
    }
    a {
      text-decoration: none;
    }
    img {
      max-width: 90%;
    }
  }
  &__name {
    display: block;
    text-align: left;
    margin-top: 32px;
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      padding-left: 30px;
      text-align: left;
      width: 80%;
      padding-right: 10px;
    }
    a {
      color: #12212e;
      font-family: @base-font;
      font-size: 19px;
      font-weight: 400;
      line-height: 23px;
      text-decoration: none;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
  &:hover {
    .category__img {
      background: #f8f8f9;
    }
    .category__name a {
      opacity: 0.7;
    }
  }
  //@media screen and (max-width: @screen-sm) {
  //  display: block;
  //}
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }
  &_active {
    .category__img {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
    }
    &::after {
      display: block;
    }
  }

}