@import url('./../grid/variables.less');
.pre-header {
  display: block;
  position: relative;
  background: #fff;
  height: auto;
  min-height: 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 60px;
    left: 0;
    top: 0;
    background: #37a141;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      display: block;
    }
  }
  .container {
    display: block;
    position: relative;
    background: #fff;
    min-height: 60px;
    padding-left: 0;
  }
  &__email {
    text-align: right;
    position: relative;
    bottom: 0;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      color: #12212e;
      font-family: @base-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      transition: all @text-decrease-time linear;
      &::before {
        content: url(/img/email-ico.png);
        display: inline-block;
        margin-right: 11px;
        vertical-align: middle;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      justify-content: flex-start;
    }
  }
  &__phone {
    height: 60px;
    display: flex;
    align-items: center;
    span {
      color: #12212e;
      font-family: @base-font;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      &::before {
        content: url(/img/phone-ico.png);
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
      }
    }
    @media screen and (max-width: @screen-sm) {
      justify-content: center;
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      justify-content: flex-end;
    }
  }
  &__callback {
    display: flex;
    height: 60px;
    align-items: center;
    @media screen and (max-width: @screen-sm) {
      justify-content: center;
    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      justify-content: flex-end;
    }
  }
}