.slogan {
  display: flex;
  align-items: center;
  width: 100%;
  background: #37a141;
  height: 60px;
  padding-left: 15px;
  span {
    color: #ffffff;
    font-family: @base-font;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
  }
}