.logo {
  img {
    max-width: 100%;
  }
  a {
    display: block;
    position: relative;
    text-decoration: none;
  }
  &_footer {
    padding-top: 5px;
    @media screen and (max-width: @screen-sm) {
      margin-bottom: 24px;
    }
  }
}