<section class="container-fluid contacts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <h1 class="text-block__h1">Контакты</h1>
                </div>
            </div>
        </div>
        <div class="row contacts__types">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="contacts-type">
                    <div class="contacts-type__title contacts-type__title_type_phones">Телефоны</div>
                    <div class="contacts-type__content">
                        +7 (980) 512-18-66 <br>
                        +7 (48432) 5-49-95 <br>
                        +7 (48432) 5-48-71
                    </div>
                    <div class="btn">
                        <span class="btn__link js_oder-call" data-modal-target="call">Заказать звонок</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="contacts-type">
                    <div class="contacts-type__title contacts-type__title_type_mail">Mail</div>
                    <div class="contacts-type__content">
                        <a href="mailto:mul-mol@inbox.ru">mul-mol@inbox.ru</a>
                    </div>
                    <div class="btn">
                        <span class="btn__link js_oder-call" data-modal-target="question">Напишите письмо</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="contacts-type">
                    <div class="contacts-type__title contacts-type__title_type_requisites">Реквизиты</div>
                    <div class="contacts-type__content">
                        ИП Келль С.Н. <br>
                        ОГРН 304780116200010ИНН 780150903026
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="contacts-type">
                    <div class="contacts-type__title contacts-type__title_type_address">Реквизиты</div>
                    <div class="contacts-type__content">
                        249191, Россия, Жуков, ул. Советская, д. 82Б
                    </div>
                    <div class="map js_yandex-map">
                        <img src="/img/yandex-map.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row contacts__form">
            <div class="col-xs-12">
                <div class="text-block__h2">
                    Связаться с нами
                </div>
            </div>
            <div class="col-xs-12">
                <div class="contacts__form">
                    //=include('../../_question-form.html')
                </div>
            </div>
        </div>
    </div>
</section>