@import url('./__variables/__variables.less');

.email {
  text-align: right;
  position: relative;
  bottom: 0;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a {
    color: #12212e;
    font-family: @base-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    transition: all @text-decrease-time linear;
    &::before {
      content: url(/img/email-ico.png);
      display: inline-block;
      margin-right: 11px;
      vertical-align: middle;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
    justify-content: flex-start;
  }
}