@import url('./__variables/__variables.less');

.phone {
  height: 60px;
  display: flex;
  align-items: center;
  span {
    color: #12212e;
    font-family: @base-font;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    &::before {
      content: url(/img/phone-ico.png);
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
  }
  @media screen and (max-width: @screen-sm) {
    justify-content: center;
  }
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
    justify-content: flex-end;
  }
}