.author {
  color: #707f8c;
  font-family: @base-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  a {
    color: #707f8c;
    font-family: @base-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

}