.breadcrumbs {
  padding-top: 26px;
  padding-bottom: 26px;
  border-top: 5px solid #f4f4f5;
  &__item {
    font-family: @base-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #777777;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    &_active {
      text-decoration: none;
      color: #2b2b63;
    }
  }
  &__divider {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #777777;
  }
}