.footer {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #12212e;
  padding-top: 45px;
  padding-bottom: 45px;
  @media screen and (max-width: @screen-sm) {
    text-align: center;
  }
  &__first-row {
    margin-bottom: 50px;
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
      margin-bottom: 30px;
    }
  }
  &__menu {
    width: 105%;
    margin-left: -15px;
    .menu__item {
      color: #ffffff;
      font-family: @base-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: underline;
      text-transform: none;
      margin-right: 5px;
      text-align: center;
      &_active {
        color: #48c854;
      }
      @media screen and (max-width: @screen-sm) {
        text-align: left;
      }
      @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {

      }
      @media screen and (min-width: @screen-md) and (max-width: @screen-lg-min) {
        margin: 0 30px 0 0;
      }
    }
  }
  &__phone {
    display: inline-block;
    span {
      color: #fff;
      font-size: 21px;
      line-height: 24px;
      &::before {
        content: url(/img/phone-ico-white.png);
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
      }
    }
  }
  &__email {
    a {
      color: #ffffff;
      &::before {
        content: url(/img/email-ico-white.png);
        display: inline-block;
        margin-right: 11px;
        vertical-align: middle;
      }
    }
  }
  &__order-call-btn {
    margin-left: 22px;
  }
}