.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 56px;
  &__item {
    color: #12212e;
    font-family: @base-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    min-width: 109px;
    text-align: center;
    display: inline-block;
    height: 30px;
    text-decoration: none;
    margin: 0 10px 0 0;
    opacity: 1;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (max-width: @screen-sm) {

    }
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {

    }
    @media screen and (min-width: @screen-md) and (max-width: @screen-lg-min) {
      margin: 0 30px 0 0;
    }
    &_active {
      background-color: #2b2b63;
      color: #fff;
      opacity: 1;
      &:hover {
        opacity: 1;
      }
    }
  }
}