.mobile-menu-wrapper {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -100;
  transition: all 0.2s linear 0.2s;
  &_active {
    opacity: 1;
    z-index: 100;
    transition-delay: 0s;
  }
  @media screen and (max-width: @screen-sm) {
    display: block;
  }
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
    display: block;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  left: 100%;
  right: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 110;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s linear 0s;
  &_active {
    left: 0;
    transition-delay: 0.2s;
    padding: 25px;
  }
  @media screen and (max-width: @screen-sm) {
    display: block;
  }
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
    display: block;
  }
  &__menu {
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    .menu__item {
      text-align: left;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}