.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  transition: all 0s linear 0.4s;
  &__overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.2s linear 0.2s;
    z-index: 50;
  }
  &__content {
    width: 702px;
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s linear 0s;
    z-index: 100;
    padding: 45px;
  }
  &_show {
    transition-delay: 0s;
    z-index: 1000;
    .modal__overlay {
      opacity: 1;
      transition-delay: 0s;
    }
    .modal__content_show {
      transform: translate(-50%, -50%) scale(1);
      transition-delay: 0.2s;
    }
  }
  &__btn {
    margin-top: 15px;
  }
  &__h1 {
    text-transform: uppercase;
  }
}