.need-consultation {
  display: block;
  position: relative;
  background: url(/img/consultation-bg.jpg) no-repeat center top;
  padding-top: 60px;
  min-height: 350px;
  @media screen and (max-width: @screen-sm) {
    background-size: auto 100%;
    background-position: left top;
  }
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
    background-position: center top;
  }
  &__h1 {
    font-size: 40px!important;
    line-height: 46px!important;
    color: #fefefe!important;
  }
  &__btn {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}