.slider {
  .slick-list {
    border: 4px solid #ffffff;
    background-color: #c5c5c5;
  };
  &__item {
    display: block;
    position: relative;
    img {
      max-width: 100%;
    }
  }
}
.slick-dots {
  display: block;
  position: absolute;
  z-index: 1000;
  right: 28px;
  bottom: 28px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  @media screen and (max-width: @screen-sm) {
    position: relative;
    right: auto;
    bottom: auto;
    left: 0;
    margin-top: 18px;
  }
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
    position: relative;
    right: auto;
    bottom: auto;
    left: 0;
    margin-top: 18px;
  }
  li {
    padding: 0;
    margin: 0 9px;
    display: inline-block;
    button {
      font-size: 0;
      line-height: 0;
      width: 22px;
      height: 22px;
      border: 3px solid #fff;
      border-radius: 50%;
      background: transparent;
      transition: all 0.2s linear;
      outline: none;
    }
    &.slick-active button {
      background: #fff;
    }
  }
}
.slider-controls {
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  button {
    font-size: 0;
    line-height: 0;
    background: transparent url(/img/slider-controls-arrow.png) no-repeat center center;
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    cursor: pointer;
    margin: 0 7px;
    border: 0;
    transition: opacity 0.2s linear;
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
    &.slick-prev {
      transform: rotate(180deg);
    }
    &:hover {
      opacity: 1;
    }
  }
}