.text-block {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 20px;
  &_text-align {
    &_center {
      text-align: center;
    }
  }
  &__h1,
  h1 {
    color: #12212e;
    font-family: @base-font;
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 0;
    &_color_white {
      color: #fff;
    }
    &_nomargin {
      margin-bottom: 0;
    }
    &_uppercase {
      text-transform: uppercase;
    }
    &_font-weight_normal {
      font-weight: 400;
    }
  }
  &__h2,
  h2 {
    color: #12212e;
    font-family: @base-font;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &__h3,
  h3 {
    margin-top: 0;
    color: #12212e;
    font-family: @base-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
  }
  &__simple-text,
  p, li{
    color: #12212e;
    font-family: @base-font;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin: 0 0 10px 0;
  }
  ul {
    list-style-type: none;
    margin: 0 0 40px 0;
    padding: 0;
    li {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-left: 22px;
      &::before {
        content: '';
        display: inline-block;
        margin-right: 11px;
        width: 10px;
        height: 10px;
        background-color: #2b2b63;
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
  img {
    margin-bottom: 30px;
  }
}