.confidential {
  display:block;
  position:fixed;
  left:0;
  bottom:-300px;
  width:100%;
  height:auto;
  min-height:77px;
  background: #383838;
  box-shadow: 0 12px 26px rgba(127, 153, 163, 0.67);
  z-index:200;
  padding:13px 0;
  transition:all .3s ease;
  box-sizing:border-box;
  &_showed {
    bottom:0;
  }
  @media screen and (max-width: 768px) {
    .btn {
      width: 39%;
      margin: 0 5%;
    }
  }
}