<section class="objects-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <div class="text-block__h1 objects-section__h1">
                        Новости
                        <div class="slider-controls js_news-slider-controls"></div>
                    </div>
                </div>
                <div class="objects js_news-slider">
                    //=for(var i = 0; i < news.length; i++) {
                        <div class="objects__item">
                            //=include('../_news/_item.html', {
                                "title": "` + news[i].title + `",
                                "photo": "` + news[i].photo + `",
                                "date": "` + news[i].date + `"
                            })
                        </div>
                    }
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/1.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/2.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/3.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/4.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/1.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/2.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/3.jpg" alt=""></a>
                    </div>
                    <div class="objects__item">
                        <a href="#"><img src="/img/objects/4.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>