<section class="container-fluid content content_padding-top_0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <h1 class="text-block__h1">В выпускаемой Нашим заводом линейке появилась новая продукция</h1>
                    <div class="simple-text">
                        <img src="/img/news/big.jpg" alt="">
                        <p>Международная выставка бытового и промышленного оборудования для отопления, водоснабжения, инженерно-сантехнических систем, вентиляции,
                        кондиционирования, бассейнов, саун и спа7–10 февраля 2017, Москва, Россия</p>
                        <p>Мы принимаем участие в выставке и ждем Вас на нашем стенде: МВЦ «Крокус Экспо», павильон 3, залы 13, стенд А235</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>