<section class="container-fluid categories">
    <div class="container">
        <div class="row">
            //=for (var i = 0; i < categories.length; i++) {
                <div class="col-xs-12 col-sm-12 col-md-3">
                    //=include('./_category.html', {
                        "name": "` + categories[i].name + `",
                        "img": "` + categories[i].img + `",
                        "href": "` + categories[i].href + `"
                    })
                </div>
            }
        </div>
    </div>
</section>