<section class="container-fluid breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="breadcrumbs__item" href="#">Главная</a> <span class="breadcrumbs__divider">/</span>
                <span class="breadcrumbs__item breadcrumbs__item_active">Документация</span>
            </div>
        </div>
    </div>
</section>