.form-block {
  display: block;
  position: relative;
  &__row {
    display: block;
    margin-bottom: 11px;
    &_margin-bottom_0 {
      margin-bottom: 0;
    }
    &_margin-top_25 {
      margin-top: 25px;
    }
  }
}
